body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  width: 50px;
}

.move-button {
  background: transparent;
  border-color: white;
  border-style: solid;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-width: 3px;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 30px;
}

.user-com-move {
  margin-top: 50px;
  margin-bottom: 50px;
}

.reset-button ,.auto-play-button{
  padding: 10px 20px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}