body
{
  font-family:Arial, Helvetica, sans-serif;
}
.subscribe-button
{
  background:black;
  color:white;
  font-size:13px;
  font-weight:700;
  padding-top:9px;
  padding-bottom:9px;
  padding-left:12px;
  padding-right:12px;
  border-radius:17px;
  cursor:pointer;
  border:none;
  margin-bottom:30px;
}
.is-subscribed
{
  color:black;
  background:rgb(236, 232, 232);
}
.input
{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:20px;
}
.calculate-button
{
  padding-top:12px;
  padding-bottom:12px;
  padding-left:12px;
  padding-right:22px;
  border:none;
  background:green;
  color:white;
  cursor:pointer;
}