p,
body {
  font-family: Arial, Helvetica, sans-serif;
}

.js-input,
.js-date-time {
  padding: 10px;
  font-size:15px;
}

.add-button {
  background: green;
  color: white;
  border: 0;
  cursor:pointer;
}

.delete-button {
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgb(131, 27, 27);
  color: white;
  border: 0;
  cursor:pointer;
}

.todo-grid ,.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap:10px;
  row-gap:10px;
  align-items:center;
}
.todo-input-grid
{
  margin-bottom:10px;
  align-items:stretch;
}