p
{
  font-family:Arial, Helvetica, sans-serif;
}
.js-input,.js-date-time
{
  padding:10px;
}
.add-button
{
 padding-left:30px;
 padding-right:30px;
 padding-top:12px;
 padding-bottom:12px;
 background:green;
 color:white;
 border:0;
}
.delete-button
{
  padding-left:25px;
 padding-right:25px;
 padding-top:12px;
 padding-bottom:12px;
 background:rgb(131, 27, 27);
 color:white;
 border:0;

}
.container
{
  width:440px;
  display:grid;
  align-items: space-between;
}